# Site settings
title: Rohan Thakkar
email:
description: >-
  Professional portfolio showcasing experience, projects, and blog posts.
baseurl: ""
url: ""
github_username: r-thak

# Build settings
theme: minima
plugins:

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
